.typefaces-container {
    background-color: black;
    padding-top: 40px;
}

.project-details {
    margin-left: 20px;
    margin-bottom: 40px;
}

.project-label {
    color: var(--text-light);
}

.project-title {
    color: var(--white);
    font-size: 18pt;
}