root {
/* Variables */

  /* Colours */
  --color-primary: black;
  --color-secondary: white;
  --color-highlight: grey;
}

@font-face {
  font-family: 'America';
  font-style: normal;
  font-weight: normal;
  src:    url("./fonts/GT-America-Standard-Medium.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: 'America', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
